
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

:root {
    --backgroundcolor: #f4f3ee;
    --dropdown-button: #bcb8b1;
    --border: #8a817c;
    --navbar-footer-ect: #463f3a;
    --submenus: #e0afa0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--backgroundcolor);
}

/*Dropdown menu telefon*/
header {
    padding: 20px;
    background: var(--navbar-footer-ect);
    text-align: right;
    max-height: 35px;
}

header .logo {
    max-width: 45px;
    position: absolute;
    left: 10px;
    margin-top: -3px;
}

.dropbutton {
    background-color:var(--navbar-footer-ect);
    border: none;
}
  
.dropdown {
    position: relative;  
}
  
.dropdown-indhold {
    display: none;
    margin-top: 18px;
    background-color: var(--submenus);
    text-align: center;
    font-size: 18px;
}
  
.dropdown-indhold a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown:hover .dropdown-indhold {
    display: block;
}
  
/*navbar til pc*/
.desktop-menu {
    display: none;
}

/*Forside*/

/*Profilbillede og text telefon*/
.profil-box {
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.profilbillede{
    width: 95%;
    border-radius: 50%;
    padding: 10px;
}

.profilbillede-text {
    color: black;
}

/* flexbox telefon*/

.flexbox {
    flex-direction: column;
    
}

.flexbox-1 {
    margin-top: 80px;
}

.flexbox-2 {
    margin-top: 80px;
}

.flexbox-3 {
    margin-top: 80px;
}

.flexbox-4 {
    margin-top: 80px;
}

.flexbox h3 {
    text-align: center;
}

.projektlogo-1 {
    width: 350px;
    margin: 10px;
}

.projektlogo-2 {
    width: 350px;
    margin: 10px;
}

.projektlogo-3 {
    width: 350px;
    margin: 10px;
}

.projektlogo-4 {
    width: 350px;
    margin: 10px;
}

button {
    border: none;
    background-color: var(--backgroundcolor);
}

/*Skole projekt side*/

/*Title*/

.title {
    background: var(--submenus);
    text-align: center;
    padding: 1px;
}

.title h1 {
    color: var(--navbar-footer-ect);
    font-size: 25px;
}

/*oversigt galleri telefon*/

.box-1 {
    position: relative;
    text-align: center;
    color: var(--navbar-footer-ect);
    margin: 20px;
}

.rumrejsen {
    width: 300px;
    opacity: 0.5;
    background-color: var(--border);
}

.rumrejsen-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.box-2 {
    position: relative;
    text-align: center;
    color: var(--navbar-footer-ect);
    margin: 20px;
}

.ddd1 {
    width: 300px;
    opacity: 0.5;
    background-color: var(--border);
}

.ddd1-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.box-3 {
    position: relative;
    text-align: center;
    color: var(--navbar-footer-ect);
    margin: 20px;
}

.ddd2 {
    width: 300px;
    opacity: 0.5;
    background-color: var(--border);
}

.ddd2-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.box-4 {
    position: relative;
    text-align: center;
    color: var(--navbar-footer-ect);
    margin: 20px;
}

.bagrettet {
    width: 300px;
    opacity: 0.5;
    background-color: var(--border);
}

.bagrettet-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.box-5 {
    position: relative;
    text-align: center;
    color: var(--navbar-footer-ect);
    margin: 20px;
}

.videoportræt {
    width: 300px;
    opacity: 0.5;
    background-color: var(--border);
}

.videoportræt-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

/*CV side telefon*/
/*Om mig*/
.ommig {
    border: 1px solid var(--dropdown-button);
    margin: 20px;
    text-align: center;
}

.profil {
    background-color: var(--submenus);
}

.kontakt {
    background-color: var(--submenus);
}

.hobbyer {
    background-color: var(--submenus);
}

/*Arbejdserfaring*/
.erfaring {
    border: 1px solid var(--dropdown-button);
    margin: 20px;
    text-align: center;
}

.uddannelse {
    background-color: var(--submenus);
}

.arbejdserfaring {
    background-color: var(--submenus);
}

/*Video portræt telefon*/
.video {
    width: 100%;
}

.video-container {
    padding: 40px;
    text-align: center;
    font-size: 20px;
}

/*fælles for sub siderne*/
.pc-billede {
    text-align: center;
    font-size: 20px;
    margin: 10%;
    margin-top: 30px;
}

.overskrift {
    background-color: var(--navbar-footer-ect);
    color: var(--backgroundcolor);
    font-size: 30px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.mobil-billede {
    width: 100%;
}

/*Rumrejsen side telefon*/
.rumrejsen-pcbillede {
    width: 100%;  
}

.rumrejsen-logo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.rumrejsen-farvepalette {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

/*ddd1 side telefon*/
.ddd1-pcbillede {
    width: 100%;  
}

.ddd1-logo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.ddd1-farvepalette {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.ddd1-mobilbillede {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;

}

/*ddd2 side telefon*/
.ddd2-pcbillede {
    width: 100%;  
}

.ddd2-logo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.ddd2-farvepalette {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.ddd2-mobilbillede {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;

}

/*Bag rettet side telefon*/
.bagrettet-pcbillede {
    width: 100%;  
}

.bagrettet-logo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.bagrettet-farvepalette {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.bagrettet-mobilbillede {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;

}

/*footer telefon*/
.footer-container {
    background-color: var(--navbar-footer-ect);
    display: flex;
    justify-content: space-evenly;
    height: auto;
    position: relative;
    color: var(--backgroundcolor);
}

.mail-container h1 {
    font-size: 18px;
}

.mail-container p {
    font-size: 15px
}

.some-logo {
    display: flex;
    align-items: center;
}

.instagram {
    width: 60px;
    margin: 5px;
}

.facebook {
    width: 60px;
    margin: 5px;
}

.copyright {
    display: none;
}

/*Ændring til desktop format*/
@media screen and (min-width: 1024px) {
    /*dropdown menu gjort usynlig*/
    .dropdown {
        display: none;}

    .desktop-menu {
        display: block;
    }

    .desktop-menu ul {
        display: flex;
       justify-content: center;
    }

    .desktop-menu li {
        padding: 5px;
        padding-left: 50px;
        padding-right: 50px;
        margin: 20px;
        margin-top: 0px;
        font-size: 15px;
        list-style-type: none;
        background-color: var(--dropdown-button);  
        outline: var(--submenus);
        outline-style: solid;
        outline-width: 3px;
    }

    .desktop-menu a {
        text-decoration: none;
        color: var(--buttons);
        font-family: 'Montserrat', sans-serif;
    }

    header {
        max-height: 50px;
    }
    header .logo {
        display: block;
        max-width: 60px;
        position: absolute;
        left: 20px;
        top: 7px;
        margin-top: 0;
    }

    /*Profilbillede og text pc*/
    .profil-box {
        flex-direction: row;
        display: flex;
        margin: 70px;
        align-items: center;
    }

    .profilbillede{
        width: 30%;
        border-radius: 50%;
    }

    .profil-box h3 {
        color: black;
        text-align: center;
        font-size: 25px;
        margin: 50px;

    }

    /* flexbox pc*/

    .flexbox {
        flex-direction: column;
        margin: 70px;
    }

    .flexbox-1 {
        flex-direction: row-reverse;
        display: flex;
        margin-top: 80px;
        align-items: center;
    }

    .flexbox-2 {
        display: flex;
        margin-top: 80px;
        align-items: center;
    }

    .flexbox-3 {
        flex-direction: row-reverse;
        display: flex;
        margin-top: 80px;
        align-items: center;
    }

    .flexbox-4 {
        display: flex;
        margin-top: 80px;
        align-items: center;
    }

    .flexbox h3 {
        text-align: center;
        font-size: 20px;
        margin: 50px;
    }

    .projektlogo-1 {
        width: 350px;
        margin: 10px;
    }

    .projektlogo-2 {
        width: 250px;
        margin: 10px;
    }

    .projektlogo-3 {
        width: 300px;
        margin: 10px;
    }

    .projektlogo-4 {
        width: 250px;
        margin: 10px;
    }

    button {
        border: none;
        background-color: var(--backgroundcolor);
    }

    /*CV side pc*/
    .cv {
        flex-direction: row;
        display: flex;
        justify-content: space-evenly;
    }

    /*oversigt galleri pc*/
    .oversigt {
        flex-direction: column;
    } 

    .rumrejsen {
        width: 500px;
    }

    .ddd1 {
        width: 500px;
    }

    .ddd2 {
        width: 500px;
    }

    .bagrettet {
        width: 500px;
    }

    .videoportræt {
        width: 500px;
    }

    /*subsiderne pc*/
    .overskrift-container {
        display: flex;
        flex-direction: row;
        margin: 5%;
    }

    .logo-container {
        width: 50%;
    }

    .farvepalette-container {
        width: 50%;
    }

    /*footer pc*/
    .footer-container {
        justify-content: space-between;
    }

    .mail-container {
        margin: 10px;
    }

    .instagram {
        width: 60px;
        margin-right: 5px;
    }

    .facebook {
        width: 60px;
        margin-left: 5px;
    }

    .copyright p {
        font-size: 15px;
    }
    
    .copyright {
        display: block;
        margin: 25px;
    }

}